* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100dvh;
    padding: 1rem;
    transition: all ease 0.3s;
}

.fcx {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.fcy {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

header {
    height: 10dvh;

}